<%- include("templates/header") %>

    <div class="row" style="margin-top: 100px;">
        <h2 style="text-align:center">Oops!</h2>
        <div class="col" style="text-align: center;">
            This page does not exist.
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col">
            <input type="button" value="Go to main page" onclick="location.href='/';">
        </div>
    </div>


    <%- include("templates/footer") %>